
#home{
	background: #f5f5f5;
}
/*导航*/
.nav_box{
	background: #1a86c0;
	margin-bottom: none;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
}

.navbar-default .navbar-toggle{
	border-color: #1a86c0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:#1a86c0;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}

.navbar{
	margin-bottom:0;
	border:none;
	border-radius:0;
}
/*头部*/
#header{
	background:#1a86c0; 
	height: 350px;
}

#header .form-control{
	float: left;
    width: 75%;
    display: block;
    height: 45px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #73C1EA;
    border-radius: 4px;
    box-shadow: none;
}
#header .btn{
	height: 45px;
	background: #1A86C0;
	border-color: #73C1EA;
	padding: 0 12px;
	text-transform:uppercase;
	width: 21%;
	float: right;
	color: #fff;
}
#header .form-group{
	margin-top: 3em;
}
#header .row{
	text-align: center;
	margin-top: 3em;
}

#header h2{
	color: #fff;
	font-weight: 100;
}

#header .row img{
	width: 60%;
	margin-top: 2em;
	opacity: 0.8;
}

/*主体*/
#sidebar{
	
}

#sidebar h2{
	font-size: 1em;
	font-weight: 600;
}

#main{
	

}

#main .block header h2{
	font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 0.5em;
}

.bot-list{
	padding-top: 1em;
}

.bot-list .bot{
	margin-bottom: 1em;
    min-height: 7em
}
.bot-list .bot p:nth-child(1){
	    font-size: 1.25em;
	    font-weight: 600;
	    margin-top: 0;
	    margin-bottom: 0.25em;
}
.bot-list .bot p:nth-child(1) a{
	color: black;
}
.bot-list .bot p:nth-child(2){
	    font-size: 0.8em;
	    color: #959595;
}
.pad-left-clear{
	padding-left: 0;
}
#main .fill{
	width: 100%;
	border-radius: 8px;
}

/*底部*/
.footer_border{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}









